.chatUi {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;

  padding-top: 52px;
}

/* Title */
.chatUi-title {
  width: 100%;
  background-color: red;

  display: flex;
  flex-direction: column;

  align-items: center;

  font-size: 55.5px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;
}
.chatUi-title-text1 {
  /* color: #ffc787; */
}
.chatUi-title-text2 {
  /* color: #846731; */
}

/* chat */
.chatUi-chat-box {
  width: 100%;
  background-color: blue;

  display: flex;
  flex-direction: column;
  gap: 42px;
}
.chatUi-ai-chat-box,
.chatUi-user-chat-box {
  width: 100%;
  background-color: lawngreen;

  display: flex;
  flex-direction: row;

  align-items: end;
  gap: 26px;
}
.chatUi-user-chat-box {
  justify-content: end;
}
.chatUi-ai-chat-icon,
.chatUi-user-chat-icon {
  width: 42px;
  height: 42px;
  background-color: gold;
  border-radius: 100px;
}
.chatUi-ai-chat-text1,
.chatUi-ai-chat-text {
  max-width: 384px;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;

  background-color: aqua;

  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */

  padding: 19px 22px;

  border-radius: 20px;
}
.chatUi-ai-chat-text {
  max-width: 529px;
}
.chatUi-user-chat-text {
  max-width: 470px;
  width: 470px;
  padding: 17px 24px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;

  background-color: darkblue;

  border-radius: 20px;

  padding-right: 30px;
}
