.chatUi {
  width: 100%;
  height: 200vh;
  background-color: rebeccapurple;

  padding-top: 52px;
}

/* Title */
.chatUi-title {
  width: 100%;
  background-color: red;

  display: flex;
  flex-direction: column;

  align-items: center;

  font-size: 55.5px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;

  margin-bottom: 146px;
}
.chatUi-title-text1 {
  /* color: #ffc787; */
}
.chatUi-title-text2 {
  /* color: #846731; */
}

/* chat */
.chatUi-chat-box {
  width: 100%;
  background-color: blue;

  display: flex;
  flex-direction: column;
  gap: 42px;

  padding-left: 29.72%;
  padding-right: 4.44%;
}
.chatUi-ai-chat-box,
.chatUi-user-chat-box {
  width: 100%;
  background-color: lawngreen;

  display: flex;
  flex-direction: row;

  align-items: end;
  gap: 26px;
}
.chatUi-user-chat-box {
  justify-content: end;
}
.chatUi-ai-chat-icon,
.chatUi-user-chat-icon {
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 100px;
}

.chatUi-ai-chat-icon {
  background-color: yellow;
}
.chatUi-cloudBox-ai,
.chatUi-cloudBox-user {
  display: flex;
  flex-direction: row;

  align-items: end;

  gap: 9px;

  background-color: pink;
}
.chatUi-cloudBox-user {
  justify-content: end;
}
.chatUi-ai-chat-text1,
.chatUi-ai-chat-text {
  max-width: 384px;

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;

  background-color: #1e150d;

  padding: 18px 36px 18px 21px;
  border-radius: 20px;
  position: relative; /* important for tail */

  color: #ffffff;
}
.chatUi-ai-chat-text {
  /* max-width: 529px; */
  min-width: 529px;

  padding: 16px 13px 16px 21px;
}

/* TAIL */
.chatUi-ai-chat-text1::after,
.chatUi-ai-chat-text::after {
  content: "";
  position: absolute;
  left: -8px; /* move outside the box */
  bottom: 0px; /* adjust vertical position */
  width: 23px;
  height: 23px;
  background-color: #1e150d;
  border-radius: 100px;
}
.chatUi-cloud-dot {
  width: 10px;
  height: 10px;
  background-color: lightseagreen;

  border-radius: 100px;
}
.chatUi-cloud-dot-ai {
  background-color: #1e150d;
}
.chatUi-cloud-dot-user {
  background-color: #c2924e;
}
.chatUi-user-chat-text {
  max-width: 580px;
  min-width: 580px;
  padding: 18px 35px 18px 24px;

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;

  background-color: #c2924e;

  border-radius: 20px;
  position: relative;

  color: #1e150d;
}
.chatUi-user-chat-text::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #c2924e;

  right: -8px;
  bottom: 0px;

  border-radius: 100px;
}
@media screen and (max-width: 1200px) {
  .chatUi-chat-box {
    padding-left: 20%;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .chatUi-chat-box {
    padding-left: 10%;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    font-size: 18px;
  }
  .chatUi-chat-box {
    padding-left: 7%;
    padding-right: 7%;
  }
  .chatUi-user-chat-text {
    max-width: 480px;
    min-width: 480px;
  }
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text {
    max-width: 354px;
  }
}
@media screen and (max-width: 950px) {
  .chatUi-chat-box {
    padding-left: 5%;
    padding-right: 5%;
  }
  .chatUi-user-chat-text {
    max-width: 430px;
    min-width: 430px;
  }
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text {
    max-width: 304px;
  }
  .chatUi-ai-chat-box,
  .chatUi-user-chat-box {
    gap: 15px;
  }
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    font-size: 18px;
    padding: 14px 16px 14px 16px;
  }
  .chatUi-ai-chat-text1::after,
  .chatUi-ai-chat-text::after,
  .chatUi-user-chat-text::after {
    width: 18px;
    height: 18px;
    left: -6;
  }
  .chatUi-user-chat-text::after {
    left: auto;
    right: -6 !important;
  }
  .chatUi-cloud-dot {
    width: 8px;
    height: 8px;
  }
  .chatUi-cloudBox-ai,
  .chatUi-cloudBox-user {
    gap: 7px;
  }
  .chatUi-chat-box {
    gap: 35px;
  }
}
@media screen and (max-width: 800px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    gap: 15px;
    max-width: 75%;
    min-width: auto;
    /* font-size: 16px; */
  }
  .chatUi-chat-box {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (max-width: 650px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    /* max-width: 65%; */
    font-size: 16px;
    padding: 10px 14px 10px 14px;
    /* max-width: 75%; */
  }
  .chatUi-ai-chat-text1::after,
  .chatUi-ai-chat-text::after,
  .chatUi-user-chat-text::after {
    width: 14px;
    height: 14px;
    left: -5;
  }
  .chatUi-user-chat-text::after {
    left: auto;
    right: -5 !important;
  }
  .chatUi-cloud-dot {
    width: 6px;
    height: 6px;
  }
  .chatUi-cloudBox-ai,
  .chatUi-cloudBox-user {
    gap: 6px;
  }
  .chatUi-chat-box {
    gap: 30px;
  }
  .chatUi-user-chat-icon,
  .chatUi-ai-chat-icon {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 500px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    max-width: 100%;
  }
  .chatUi-user-chat-icon,
  .chatUi-ai-chat-icon {
    width: 30px;
    height: 30px;
  }
  .chatUi-ai-chat-box,
  .chatUi-user-chat-box {
    gap: 10px;
  }
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    border-radius: 10px;
  }
  .chatUi-ai-chat-text1::after,
  .chatUi-ai-chat-text::after,
  .chatUi-user-chat-text::after {
    width: 12px;
    height: 12px;
    left: -5;
  }
  .chatUi-user-chat-text::after {
    left: auto;
    right: -5 !important;
  }
  .chatUi-cloudBox-ai,
  .chatUi-cloudBox-user {
    gap: 6px;
  }
}

/* responsive  title */
@media (max-width: 1000px) {
  .chatUi-title {
    font-size: 48px;
    margin-bottom: 126px;
  }
}

@media (max-width: 650px) {
  .chatUi-title {
    font-size: 42px;
    margin-bottom: 106px;
  }
}

@media (max-width: 450px) {
  .chatUi-title {
    font-size: 32px;
    margin-bottom: 86px;
  }
}
