.chatUi {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;

  padding-top: 52px;
}

/* Title */
.chatUi-title {
  width: 100%;
  background-color: red;

  display: flex;
  flex-direction: column;

  align-items: center;

  font-size: 55.5px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;

  margin-bottom: 146px;
}
.chatUi-title-text1 {
  /* color: #ffc787; */
}
.chatUi-title-text2 {
  /* color: #846731; */
}

/* chat */
.chatUi-chat-box {
  width: 100%;
  background-color: blue;

  display: flex;
  flex-direction: column;
  gap: 42px;

  padding-left: 29.72%;
  padding-right: 4.44%;
}
.chatUi-ai-chat-box,
.chatUi-user-chat-box {
  width: 100%;
  background-color: lawngreen;

  display: flex;
  flex-direction: row;

  align-items: end;
  gap: 26px;
}
.chatUi-user-chat-box {
  justify-content: end;
}
.chatUi-ai-chat-icon,
.chatUi-user-chat-icon {
  width: 42px;
  height: 42px;
  background-color: gold;
  border-radius: 100px;
}
.chatUi-ai-chat-text1,
.chatUi-ai-chat-text {
  max-width: 384px;

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;

  background-color: aqua;

  padding: 19px 36px 19px 21px;
  border-radius: 20px;
}
.chatUi-ai-chat-text {
  /* max-width: 529px; */
  min-width: 529px;

  padding: 16px 13px 16px 21px;
}
.chatUi-user-chat-text {
  max-width: 580px;
  min-width: 580px;
  padding: 17px 35px 27px 24px;

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;

  background-color: darkblue;

  border-radius: 20px;
}
@media screen and (max-width: 1200px) {
  .chatUi-chat-box {
    padding-left: 20%;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .chatUi-chat-box {
    padding-left: 10%;
    padding-right: 100px;
  }
  /* .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    font-size: 18px;
  } */
}

@media screen and (max-width: 1000px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    font-size: 18px;
  }
  .chatUi-chat-box {
    padding-left: 7%;
    padding-right: 7%;
  }
  .chatUi-user-chat-text {
    max-width: 480px;
    min-width: 480px;
  }
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text {
    max-width: 354px;
  }
}
@media screen and (max-width: 950px) {
  .chatUi-chat-box {
    padding-left: 5%;
    padding-right: 5%;
  }
  .chatUi-user-chat-text {
    max-width: 430px;
    min-width: 430px;
  }
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text {
    max-width: 304px;
  }
  .chatUi-ai-chat-box,
  .chatUi-user-chat-box {
    gap: 15px;
  }
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    font-size: 18px;
    padding: 14px 16px 14px 16px;
  }
}
@media screen and (max-width: 800px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    gap: 15px;
    max-width: 65%;
    min-width: auto;
    /* font-size: 16px; */
  }
  .chatUi-chat-box {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (max-width: 650px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    /* max-width: 65%; */
    font-size: 16px;
    padding: 10px 14px 10px 14px;
    /* max-width: 75%; */
  }
}
@media screen and (max-width: 650px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .chatUi-ai-chat-text1,
  .chatUi-ai-chat-text,
  .chatUi-user-chat-text {
    max-width: 85%;
  }
}
